@model IEnumerable<MVCCurrencyCalculator.Models.BjoerkCurrencyExchange>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ISO from
        </th>
        <th>
            ISO to
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyFrom.ISO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyTo.ISO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountTo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
